.body{
    font-family: "Kanit", sans-serif;
    background: #000000c5;
    background: -webkit-linear-gradient(to right, #202020, #691a22, #3d0410);
    background: linear-gradient(to right, #141010, #05e04e, #000000);
}